html {
    background-image: url("../img/background_new.jpg");
    font-size: 1.1em;
    font-family: 'Oxygen', sans-serif;
}
body {
    margin: 0px;
}

section {
    background-color: #4DBCE9;
    width: 66%;
    margin-left: 17%;
    padding: 10px;
}

article {
    padding: 10px;
}

.half-page {
    /*width: 50%;*/
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
    display: block;
}

.half-page-2{
    /*width: 50%;*/
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
    display: block;
    margin-right: 0;
}

#navHeader {
    width: 100%;
    height: 50px;
    background-color: #000055;
    margin-top: 0;
    position: fixed;
}

.header-image {
    width: 67%;
    margin-left: 17%;
}
nav  {
    width: 100%;
}
nav > a {
    text-decoration: none;
    color: whitesmoke;
    position: relative;
    margin-left: 5%;
}
nav > a:active, a:visited {
    color: whitesmoke;
}

.active-page {
    color: yellow;
}

form > input {
    margin-top: 10px;
    padding: 10px;
}

table {
    border-collapse: collapse;
    border: 1px solid black;
}

td {
    border: 1px solid black;
    padding: 5px;
}

td {
    border: 1px solid black;
    padding: 5px;
}


footer {
    padding: 10px;
    background-color: #000055;
}

footer > p {
    font-size: 0.8em;
    margin: 0;
    padding: 0;
    color: whitesmoke;
}

footer > a, a:active, a:visited {
    color: whitesmoke;
}

input {
    font-size: 1.1em;
}

select {
    font-size: 1.1em;
}