.section {
    background-color: #a5e5ff;
    width: 66%;
    margin-left: 17%;
    padding: 10px;
}

.article {
    padding: 10px;
}

.nav {
    width: 100%;
    margin-top: 0.7%;
}

.nav > a {
    text-decoration: none;
    color: whitesmoke;
    position: relative;
    margin-left: 5%;
}

.nav > a:active, a:visited {
    color: whitesmoke;
}

.footer {
    padding: 10px;
    background-color: #000055;
}

.footer > p {
    font-size: 0.8em;
    margin: 0;
    padding: 0;
    color: whitesmoke;
}

.footer > a, a:active, a:visited {
    color: whitesmoke;
}

