html {
    background-image: url("img/background.jpg");
    font-size: 1.1em;
    font-family: 'Oxygen', sans-serif;
}
body {
    background-color: antiquewhite;
    width: 50%;
    margin-left: 25%;
}

article {
    padding: 0px 10px 10px 10px;
}

table {
    border-collapse: collapse;
    border: 1px solid black;
}

td {
    border: 1px solid black;
    padding: 5px;
}

td {
    border: 1px solid black;
    padding: 5px;
}

.header-image {
    width: 100%
}
nav  {
    display: block;
    width: 100%;
    background-color: burlywood;
}
nav > a {
    text-decoration: none;
    color: black;
}
nav > a:active {
    color: black;
}
nav > a:visited {
    color: black;
}

footer {
    padding: 10px;
    background-color: bisque;
}

footer > p {
    font-size: 1em;
    margin: 0;
    padding: 0;
}

input {
    font-size: 1.1em;
}

select {
    font-size: 1.1em;
}





